:root{
    --fhc-evaluierung-countdown-green: #00C853;
    --fhc-evaluierung-countdown-orange: #FF9800;
    --fhc-evaluierung-countdown-red: #F44336;
    --fhc-evaluierung-countdown-path-elapsed: #E6E6E6;
}

.countdown__label {
    text-anchor: middle;
    dominant-baseline: central;
    font-family: monospace;
}

.countdown__svg {
    display: block;
}
.countdown__circle {
    fill: none;
    stroke-width: 7px;
}
.countdown__path-elapsed {
    stroke: var(--fhc-evaluierung-countdown-path-elapsed);
}
.countdown__path-remaining {
    stroke-linecap: round;
    transition: 1s linear all;
}

.green {
    stroke: var(--fhc-evaluierung-countdown-green);
}

.orange {
    stroke: var(--fhc-evaluierung-countdown-orange);
}

.red {
    stroke: var(--fhc-evaluierung-countdown-red);
}